<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/static/images/imagem_aguia_branca.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <header>
        <div class="header_position header_position_left">
            <div class="menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="50" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div class="menux">
                    <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="100%" height="60" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </div>
                
            </div>
            <img class="header_logo" src="../static/images/imagem_aguia_branca.png" alt="">
        </div>
        <div class="header_position header_position_right">
            <div class="botons_login_sign">
                <button class="btn login_btn button_red">Entrar</button>
                <button class="btn sign_btn ">Cadastre-se</button>
            </div>
        </div>
    </header>
    <main>
        <div class="modal-portal">
            <div class="modal-body">
                <div class="header-modal">
                    <img class="header_logo" src="/static/images/imagem_aguia_branca.png" alt="">
                    <h2>Cadastre-se</h2>
                </div>
                <main class="body-modal">
                    <input type="text" placeholder="Endereço de email">
                    <input type="password" placeholder="Senha">
                    <div class="nascimento">
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                    </div>
                    
                    <input type="submit" class="btn login_btn">
                    <a class="links">Esqueceu a senha?</a>
                    
                </main>
                <div class="footer-modal">
                    <p>Nao tem uma conta ainda?<a class="link linkred" href="">Crie uma agora!</a></p>
                </div>
            </div>
        </div>
    </main>
    
    <footer></footer>
</body>